:host {
  display: block;
  margin-top: 1rem;
}
button {
  text-transform: uppercase;
}

mat-paginator {
  margin-top: 1rem;
}
mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
  img {
    width: 100%;
  }
}
